    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Secular+One&display=swap');
    /* Fonts:
    Secular One
    Inter 
    */
    h1{
    font-family: var(--font-family-titulo-subtitulo);
    font-size: var(--font-size-titulo);
    font-weight: var(--font-weight-titulo-subtitulo);
    color: var(--font-color-body);
    }
    h2{
    font-family: var(--font-family-titulo-subtitulo);
    font-size: var(--font-size-sub-titulo);
    font-weight: var(--font-weight-titulo-subtitulo);
    color: var(--font-color-body);
    }
    body p{
        color: var(--font-color-body);
        font-family: var(--font-family-texto);
        font-size: var(--font-size-texto);
    }