.section-hero h1{
    margin-bottom: 200px;
}
.section-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../../../img/tecnologia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
}
.section-hero .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 760px;
}
@media screen and (max-width: 1024px) {
    .section-hero h1{
        font-size: calc(var(--font-size-titulo)/1.2);
    }
}