ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-family: var(--font-family-texto);
  font-weight: var(--font-weight-padrao-navbar);
  color: var(--cor-fonte-navbar);
  font-size: var(--font-size-navbar);
}
.nav {
  background-color: var(--fundo-navbar);
  /* position: fixed; */
  width: 100%;
  position: fixed;
  z-index: 3;
}
.nav .container {
  flex-direction: row;
  display: flex;
  height: 80px;
  align-items: center;
}
.nav-logo:hover{
  transform: scale(1.1);
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
}
.nav-item{
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease-in-out; 
}
.nav-item:hover{
  border-color: var(--cor-fonte-navbar);
}
.nav-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
}
.nav-icon {
  margin-right: 20px;
  cursor: pointer;
}
.button-iniciar-sessao {
  font-family: var(--font-family-texto);
  font-weight: var(--font-weight-padrao-navbar);
  font-size: var(--font-size-navbar);
  color: var(--cor-fonte-navbar);
  background-color: var(--cor-button-iniciar-sessao-navbar);
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.button-iniciar-sessao:hover{
  background-color: var(--cor-button-iniciar-sessao-navbar-hover);
}

/*
celulares max-width: 600px
tablets max-width: 1024px 
*/
.nav-list-mobile,
.nav-menu-mobile,
.linha1,
.linha2,
.linha3,
.nav-logo-mobile,
.nav-item-mobile,
.button-iniciar-sessao-mobile {
  display: none;
}
.overlay-mobile{
    position: fixed;
    inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
    background-color: rgba(0, 0, 0, 0.5);   
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;
    z-index: 98;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 40px;
  }
  .nav-item,
  .button-iniciar-sessao {
    display: none;
  }
  .nav-menu-mobile {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-button-iniciar-sessao-navbar);
    width: 48px;
    height: 42px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out; 
  }
  .nav-menu-mobile:hover{
    background-color: var(--cor-button-iniciar-sessao-navbar-hover);
  }
  .linha1,
  .linha2,
  .linha3 {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 2px;
  }
  .nav-list-mobile {
    display: flex;
    right: 0;
    top: 0;
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: var(--fundo-navbar-mobile);
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(100%);
    transition: transform 0.7s ease;
    padding: 0 20px;
    z-index: 99;
  }
  .nav-list-mobile.active {
    transform: translateX(0);
  }
  .overlay-mobile.active{
    opacity: 1;
    visibility: visible;
}
  .nav-header-mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    margin-bottom: 10px;
  }
  .nav-fechar-mobile {
    display: flex;
    width: 48px;
    height: 42px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: var(--fundo-buttons-navbar-mobile);
    transition: 0.3s ease-in-out; 
    cursor: pointer;
  }
  .nav-fechar-mobile:hover{
    background-color: var(--fundo-buttons-navbar-mobile-hover);
  }
  .nav-fechar-mobile p {
    cursor: pointer;
    font-size: 36px;
  }
  .nav-item-mobile {
    display: block;
    margin: 10px 0;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease-in-out; 
  }
  .nav-item-mobile:hover{
    border-color: var(--cor-fonte-navbar);
  }
  .nav-logo-mobile {
    display: block;
  }
  .button-iniciar-sessao-mobile {
    display: block;
    margin-top: 20px;
    width: 100%;
    font-family: var(--font-family-texto);
    font-weight: var(--font-weight-padrao-navbar);
    font-size: var(--font-size-navbar);
    color: var(--cor-fonte-navbar);
    background-color: var(--fundo-buttons-navbar-mobile);
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out; 
  }
  .button-iniciar-sessao-mobile:hover{
    background-color: var(--fundo-buttons-navbar-mobile-hover);
  }
}
@media (max-width: 600px) {
  .nav-list-mobile{
    width: 100%;
  }
}
