ul li{
    list-style: none;
}
a{
    text-decoration: none;
    font-family: var(--font-family-texto);
    font-weight: var(--font-weight-padrao-navbar);
    color: var(--cor-fonte-navbar );
}
.nav{
    background-color: var(--fundo-navbar);
    /* position: fixed; */
    width: 100%;
    position: fixed;
    z-index: 3;
}
.nav .container{
    flex-direction: row;
    display: flex;
    height: 80px;
    align-items: center;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
}
.nav-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}
.nav-icon{
    margin-right: 20px;
    cursor: pointer;
}
.button-iniciar-sessao{
    font-family: var(--font-family-texto);
    font-weight: var(--font-weight-padrao-navbar);
    color: var(--cor-fonte-navbar);
    background-color: var(--cor-button-iniciar-sessao-navbar);
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/*
celulares max-width: 600px
tablets max-width: 1024px 
*/
@media screen and (max-width: 800px) {
    .nav{
        background-color: red;
    }
}