.section-produtos{
    background-color: var(--fundo-produtos);
}
.section-produtos .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 720px;
}
.section-produtos-conjunto-imagens{
    display: flex;
    flex-direction: row;
    column-gap: 95px;
    margin-top: 50px;
    overflow: hidden;
}
.section-produtos-img{
    width: 350px;
    height: 250px;
    object-fit: cover;
}