.section-servicos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../../../img/fundo-cidade-futuro-azul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 720px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-attachment: fixed;
}

.section-servicos-content {
    display: flex;
    /* justify-content: space-between;
    align-items: center;
    width: 100%; */
    flex-direction: row;
    gap: 80px;
}

.section-servicos-card {
    display: flex;
    flex-direction: column;
    max-width: 620px;
    min-height: 420px;
}

.section-servicos-card-header {
    background-color: var(--card-header-cor);
    display: flex;
    flex-direction: row;
    border-radius: 20px 20px 0 0;
    align-items: center;
    padding: 20px;
}

.section-servicos-card-header h2 {
    margin-left: 20px;
}

.section-servicos-card-header-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
}

.section-servicos-card-body {
    background-color: var(--card-body-cor);
    border-radius: 0 0 20px 20px;
    padding: 20px;
    flex: 1;
}

.section-servicos-info {
    display: flex;
    flex-direction: column;
}

.section-servicos-logos {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    margin-top: 50px;
}
.section-servicos-logo-img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
@media (max-width: 1024px){
    .section-servicos{
        background-position: center;
    }
    .section-servicos-content{
       flex-direction: column;
       align-items: center;
       margin: 40px 0;
    }
    .section-servicos-info{
        align-items: center;
    }
}