.section-sobre{
    background: var(--fundo-sobre-gradient);
    border-radius: 0 0 50px 50px;
}
.section-sobre .container{
    display: flex;
    flex-direction: row;
    min-height: 720px;
}
.section-sobre-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-sobre-content-texto{
    max-width: 100%;
    text-align: justify;
}
.section-sobre-media{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.section-sobre-img{
    max-width: 90%;
    opacity: 70%;
}